:root {
	--paneWidth: 12em;
	--paneHeight: 10em;
	--headerHeight: 3em;
}

* {
  box-sizing: border-box;
}

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-size: 1px;
	line-height: 1em;
	font-family: sans-serif;
}

.header {
	height: var(--headerHeight);
	background-color: #000;
	color: #fff;
	padding-top: 1em;
}

.pane-container {
	white-space: nowrap;
	margin-top: var(--paneMarginTop);
	margin-left: var(--paneMarginLeft);
}

.pane {
	width: var(--paneWidth);
	height: var(--paneHeight);
	background: #f00;
}

body.landscape .pane {
	display: inline-block;
}