* {
    line-height: 1em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

.tact-app {
    position: relative;
}

.tact-align-outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

.tact-align-inner {
    position: relative;
    margin: auto;
}

.tact-box-outer {
    position: relative;
    display: inline-block;
}

.tact-box-decoration {
    border-radius: 0.5rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    right: 0.4rem;
    bottom: 0.4rem;
}

.tact-box-decoration.border{
    border: 0.15rem solid;
}

.tact-box-inner {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
}

.tact-box-inner img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}