:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #073642;
    --color-light: #FDF6E3;
    --color-primary: #B58900;
    --color-secondary: #839496;
    --color-success: #2AA198;
    --color-info: #268BD2;
    --color-danger: #D33682;
    --color-warning: #CB4B16;
    --color-background: #001020;
}

* {
    line-height: 1em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    background-color: var(--color-background);
    color: var(--color-light);
}

.rem-app {
    width: 100%;
    height: 100%;
    position: relative;
}

.align-outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    pointer-events: none;
}

.align-inner {
    pointer-events: auto;
    position: relative;
    margin: auto;
}

.rem-box {
    border-radius: 0.8rem;
    margin: 0.2rem;
    padding: 0.8rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.rem-box.border {
    border: 0.1rem solid;
    padding: 0.7rem;
}

.rem-box input,
.rem-box select {
    font-size: 2em;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    margin-top: -.1em;
    background: transparent;
}

.rem-box input[type="range"] {
    margin: 0;
    height: 2rem;
}

.button-label {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.button-label-small {
    font-weight: bold;
    margin-top: 0.25rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
}

p.input-label {
    display: block;
    font-size: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

img.icon {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

img.icon.dark {
    filter: none;
}

img.icon.small {
    width: 1.33rem;
    height: 1.33rem;
    margin: 0.33rem;
}

img.icon.tiny {
    width: 0.66rem;
    height: 0.66rem;
    margin: 0.66rem;
}

.pane-header {
    position: absolute;
    top: -0.4em;
    left: 0.75em;
    font-size: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: var(--color-background);
    color: var(--color-secondary);
}

.ui-test {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
}

.box img {
    width: 1em;
    height: 1em;
}

.box.w-4 img {
    margin-right: 0.5em;
}

.box.full {
    width: calc( 100% - 1em );
}

body.landscape .input-group {
    width: 50%;
    display: inline-block;
}

body.portrait .input-group {
    width: 100%;
    display: inline-block;
}

.input-group {
    vertical-align: top;
}

.box input,
.box select {
    font-size: 1em;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    margin-top: -.1em;
    background: transparent;
}

.box input[type="range"] {
}

.form-buttons {
    text-align: right;
    width: calc(100% - 1em);
    position: absolute;
    bottom: var(--boxPadding);
    right: var(--boxPadding);
}

.beat-grid.current-beat {
    background: var(--color-white) !important;
}

.recording .beat-grid.current-beat {
    background: var(--color-warning);
}

.beat-grid.current-beat img {
    filter: none;
}

.layer-icon {
    display: inline-block;
    text-align: center;
    width: 1.5em;
}

.box.faded {
    opacity: 0.5
}

.chord.current-beat,
.section-chord.current-sequence {
    background-color: var(--color-warning) !important;
}

hr.pane-divider {
    position: absolute;
    width: 8em;
    top: calc(6em - var(--boxPadding) / 2);
    border: none;
    border-top: var(--borderWidth) dashed var(--colorDark);
}

hr.pane-divider.four {
    top: calc(4em - var(--boxPadding) / 2);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    display: flex;
}

.select-chord {
    margin: auto;
    position: relative;
    width: 8em;
    height: 6em;
}

.dialog {
    margin: auto;
    position: relative;
    width: 16em;
    height: 8em;
}

body.portrait .dialog {
    width: 8em;
    height: 16em;
}

.tap-highlight {
    pointer-events: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.tap-highlight img {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    left: calc(var(--tapHighlightLeft) - 1.25em);
    top: calc(var(--tapHighlightTop) - 1.25em);
}

a.a {
    cursor: pointer;
}